h1{font-family:monospace ;}
.container{width: 500px ; display: flex;  align-items: center; justify-content: center;flex-wrap: wrap;}
.box{width: 150px;height: 150px ; background-color: teal; margin: 1px; border-radius:10px ; transition: all 0.5s; border: 2px solid and darkkhaki color}
.box:hover{background-color: turquoise;box-shadow:10px 10px 8px 10px #888888;}
body{display: flex;flex-direction: column; align-items: center;justify-content: center;}